{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>television</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        .img-fixed {
            height: 250px;  /* alto fijo */
            object-fit: cover; /* fuerza la imagen a llenar el área, aunque se deforme */
            display: block;  /* elimina espacios extra debajo de la imagen */
            margin-top: 2px auto;  /* centra la imagen en la card */ 
        }
    </style>
</head>
<body>
    {% include 'menu.html' %}
    <h1>Personajes</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
        {% for p in personajes %}
            <div class="col">
                <div class="card h-100" style="width: 252px;;">
                    <img src="{{p.imagen}}" class="card-img-top img-fixed mx-auto d-block" alt="{{p.nombre}}">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{p.nombre}}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>